@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,300);

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

body {
	color: $gray-light;
	font-size: 21px;
	&.active {
		overflow: hidden;
		@media (min-width: $screen-sm) {
			overflow: auto;
		}
	}
}

h1, h2 {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

h3, .h3 {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

h4, .h4 {
	text-transform: none;
	font-weight: 600;
	color: $brand-primary;
	font-size: 34px;
	letter-spacing: 0;
}

p {
	font-size: 18px;
	@media (min-width: $screen-sm) {
		font-size: 21px;
	}
}

a {
	&:hover, &:focus {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
}

blockquote {
	border-left: 4px solid $brand-primary;
	margin-left: 20px;
	padding-left: 25px;
	color: $gray;
	p {
		font-size: 24px;
	}
	@media (min-width: $screen-sm) {
		margin-left: 50px;
		padding-left: 35px;
		p {
			font-size: 34px;
		}
	}
}

.btn {
	border: none;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.highlight {
	color: $gray;
	font-size: 21px;
	@media (min-width: $screen-sm) {
		font-size: 28px;
	}
}

.highlight-jumbo {
	font-weight: 600;
	color: $brand-red;
	font-size: 32px;
	line-height: 40px;
	display: block;
	@media (min-width: $screen-sm) {
		font-size: 42px;
		line-height: 50px;
	}
}

.credit {
	font-size: 18px;
	font-weight: 300;
	color: $gray;
	@media (min-width: $screen-sm) {
		font-size: 24px;
	}
}

.content {
	margin: 0;
	.main {
		padding: 0;
	}
}

// Navbar Styling
.navbar-default {
	border: none;
	background-color: $brand-primary;
	position: fixed;
    width: 100%;
    margin: 0;
    .navbar-header {
    	z-index: 10;
	    position: fixed;
	    width: 100%;
		.navbar-brand {
			background: url(../images/logo.png) no-repeat;
			width: 175px;
		    height: 62px;
		    padding: 0;
		    left: 0;
		    background-size: contain;
		    margin: 12px 0 0 15px;
		    @media (min-width: $screen-sm) {
		        margin: 10px 0 0;
			}
		}
	}
	.menu {
		height: 100vh;
		position: fixed;
	    width: 100%;
	    background-color: rgba(1, 142, 178, 0.9);
	    left: -100%;
	    top: 0;
	    z-index: 0;
	    @media (min-width: $screen-sm) {
	    	position: relative;
	    	left: 0;
		    height: auto;
		    z-index: 10;
	    }
	    &.active {
	    	left: 0;
	    }
	    &.transition {
	    	transition: left 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	    }
	    .menu-menu-container {
	    	@include vertical-align();
			.navbar-nav {
				margin: 0;
				@media (min-width: $screen-sm) {
					float: right;
				}
				li {
					a {
						font-size: 18px;
						text-transform: uppercase;
						transition: all 200ms ease;
						text-align: center;
						padding: 30px 20px;
						border-top: 2px solid rgba(255,255,255, 0.2);
						@media (min-width: $screen-sm) {
							text-align: left;
							padding: 31px 20px;
							border: none;
						}
					}
					&:last-child {
						a {
							border-bottom: 2px solid rgba(255,255,255, 0.2);
							@media (min-width: $screen-sm) {
								border: none;
							}
						}
					}
				}
			}
		}
	}
	.navbar-toggle {
		position: relative;
	    display: inline-block;
	    width: 35px;
	    height: 24px;
	    margin: 31px 30px;
	    border: none;
	    padding: 0;
		&:hover, &:focus {
			background-color: transparent;
		}
		@media (min-width: $screen-sm-min) {
			display: none;
		}
		.bars {
			margin: 0 auto;
			position: relative;
			width: 35px;
			height: 4px;
			background-color: #fff;
			display: block;
			transition-duration: 0s;
			transition-delay: 0.2s;
			&:before, &:after {
				position: absolute;
				content: '';
				width: 35px;
				height: 4px;
				background-color: #fff;
				display: block;
			}
			&:before {
				margin-top: -10px;
				transition-property: margin, transform, background-color;
				transition-duration: 0.2s;
				transition-delay: 0.2s, 0s;
			}
			&:after {
				margin-top: 10px;
				transition-property: margin, transform, background-color;
				transition-duration: 0.2s;
				transition-delay: 0.2s, 0s;
			}
		}
	}

	.navbar-toggle.active {
		.bars {
			background-color: rgba(0,0,0,0.0);
			transition-delay: 0.2s;
			&:before {
				margin-top: 0;
				transform: rotate(45deg);
				transition-delay: 0s, 0.2s;
				background-color: $brand-red;
			}
			&:after {
				margin-top: 0;
				transform: rotate(-45deg);
				transition-delay: 0s, 0.2s;
				background-color: $brand-red;
			}
		}
	}
}

.header-spacing {
	height: 86px;
	width: 100%;
}


// Page & Post Styling
.page-title-container {
	height: calc(100vh - 86px);
	min-height: 350px;
	background-size: cover;
	background-position: center center;
	background-image: url(../images/banner.jpg);
	overflow: hidden;
    position: relative;
    video {
		position: absolute;
		object-fit: cover;
	}
	video.fillWidth {
		width: 100%;
		height: 100%;
	}
	.videowrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.page-title {
		@include vertical-align();
		text-align: center;
		color: #fff;
		transition: opacity 1500ms ease-in;
		opacity: 0;
		z-index: 20;
		h1 {
			font-size: 25px;
		    border: 3px solid;
		    display: inline-block;
		    padding: 10px 30px;
		    margin: 0 0 10px 0;
		    @media (min-width: $screen-sm) {
		    	font-size: 35px;
		    }
		}
		.subheading {
			font-size: 22px;
			display: block;
			@media (min-width: $screen-sm) {
				font-size: 32px;
			}
		}
	}
	.page-title.load {
		opacity: 1;
	}
	.page-title-filter {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 10;
	}
}

.page-section {
    padding: 80px 0;
    text-align: center;
    position: relative;
    clear: both;
    h2 {
    	color: $brand-primary;
    	border: 2px solid $brand-primary;
	    display: inline-block;
	    font-size: 24px;
	    padding: 10px 20px;
        margin: 0 0 50px 0;
        &.icon-title {
        	margin: 0 0 20px 0;
        }
    }
    h3, .h3 {
		color: $brand-red;
		font-size: 21px;
		margin: 40px 0 15px;
		@media (min-width: $screen-sm) {
			font-size: 24px;
		}
	}
	.home-more.h3 {
		display: inline-block;
	    margin-bottom: 0;
	    color: $brand-primary;
	    transition: opacity 200ms;
		.fa {
			left: 0;
			position: relative;
			transition: left 300ms ease;
		}
		&:hover {
			opacity: 0.8;
			.fa {
				left: 10px;
			}
		}
	}
    .light {
    	color: #fff;
    	h2 {
    		color: #fff;
    		border: 2px solid #fff;
    	}
    	h3, .h3 {
    		color: #fff;
    	}
    	p, .highlight {
    		color: #fff;
    	}
    	a {
    		color: #fff;
    		&:hover {
    			text-decoration: none;
    		}
    	}
    }
    .section-icon {
    	margin: 0 auto 20px;
    	display: block;
    }
    &.section-image {
    	background-attachment: fixed;
    	height: calc(100vh - 86px);
    	min-height: 450px;
	    background-position: center center;
	    background-size: cover;
    	.container {
    		@include vertical-align();
    	}
    }
}

.team-section {
	padding: 0 0 40px;
}

.skills-section {
	clear: both;
	text-align: left;
	padding: 20px 0 80px;
	li {
		color: $gray;
	}
	h3 {
		color: $brand-primary;
		letter-spacing: 0;
		text-transform: none;
		font-weight: 400;
		font-size: 32px;
	}
}

.team {
	padding: 0;
	.team-tile {
		@media (max-width: 767px) {
			@include aspect-ratio(3, 2);
		}
		@media (min-width: $screen-sm) {
			width: 33.33%;
			float: left;
			@include aspect-ratio(3, 3);
		}
		@media (min-width: $screen-md) {
			@include aspect-ratio(3, 2);
		}
		width: 100%;
		list-style: none;
		background-size: cover;
		background-position: center center;
		position: relative;
		overflow: hidden;
		.team-title {
			background: $brand-orange;
			color: #fff;
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 6px 10px;
			p {
				margin: 0;
			}
			.name {
				font-weight: 600;
			}
		}
		.team-info {
			position: absolute;
			bottom: -500px;
			height: 100%;
			width: 100%;
			transition: bottom 300ms ease-in-out;
			.team-bio {
				text-align: right;
				color: #fff;
				position: absolute;
			    width: 100%;
			    bottom: 0;
			    font-size: 16px;
			    @media (min-width: $screen-sm) {
			    	font-size: 18px;
			    }
				span {
					padding: 0 15px 15px 40px;
				    display: block;
				}
				.team-message {
					display: block;
				    text-align: left;
				    color: #fff;
				    background-color: $brand-red;
				    text-transform: uppercase;
		        font-size: 21px;
				    padding: 21px 10px;
				    transition: background-color 150ms ease;
				    &:hover, &:focus {
				    	text-decoration: none;
				    	background-color: darken($brand-red, 10%);
				    }
				}
			}
		}
		&:hover {
			.team-layer {
				background-color: rgba(0, 0, 0, 0.2);
			}
			.team-info {
				bottom: 0px;
			}
		}
		.team-layer {
			height: 100%;
			width: 100%;
		    position: absolute;
		    /* height: 100%; */
		    top: 0;
			background-color: rgba(128, 199, 217, 0.5);
			transition: background-color 150ms ease;
		}
	}
}

.home-hero {
	.home-hero-item {
		padding-bottom: 15px;
		@media (min-width: $screen-sm) {
			display: inline-block;
			padding-right: 25px;
			padding-bottom: 0;
		}
		&:last-child {
			padding-right: 0;
			padding-bottom: 0;
		}
		img {
			display: block;
			margin: 0px auto 15px;
		}
	}
}

.post-sidebar {
	h3 {
		margin-top: 0;
	}
	.client-logo {
		max-width: 200px;
	    margin: 20px 0 40px;
	    filter: invert(100%);
	    opacity: 0.3;
	}
	p {
		font-size: 17px;
		color: lighten($gray-light, 15%);
	}
	.project-btn {
		margin-top: 30px;
	}
	.author-name {
		margin: 15px 0 0;
	}
	.author-position {
		@extend .h4;
		font-size: 21px;
		color: $gray;
	    margin: 6px 0 15px;
	}
}

.project-subject {
	margin: 60px 0;
	@media (min-width: $screen-sm) {
		margin: 60px 0 80px;
	}
	h2 {
		font-size: 38px;
	    font-weight: 400;
	    letter-spacing: 0;
	    text-transform: none;
	    color: $gray;
	    margin: 0;
	    @media (min-width: $screen-sm) {
	    	font-size: 52px;
	    }
	}
}

.article {
	color: $gray;
	p {
		margin: 0 0 25px;
	}
	img {
		margin: 30px 0;
	}
	h2, h3 {
		text-transform: none;
		letter-spacing: 0;
		margin: 50px 0 25px;
	}
	h2 {
		color: $gray;
	}
	h3 {
		color: $brand-primary;
	}
}

.latest-projects {
	padding: 0;
	margin: 0;
	.latest-projects-tile {
		@media (max-width: 767px) {
			@include aspect-ratio(3, 2);
		}
		@media (min-width: $screen-sm) {
			width: 33.33%;
			float: left;
			@include aspect-ratio(3, 3);
		}
		@media (min-width: $screen-md) {
			@include aspect-ratio(3, 2);
		}
		width: 100%;
		list-style: none;
		background-size: cover;
		background-position: center center;
		position: relative;
		overflow: hidden;
		.latest-projects-logo {
			position: absolute;
		    top: 0;
		    height: 100%;
		    width: 100%;
		    text-align: center;
			img {
				@include vertical-align();
				max-width: 70%;
				max-height: 50%;
				opacity: 1;
				transition: all 300ms ease-in-out;
			}
		}
		.latest-projects-info {
			position: absolute;
			bottom: -500px;
			height: 100%;
			width: 100%;
			transition: bottom 300ms ease-in-out;
			text-align: center;
			color: #fff;
		    width: 100%;
		    font-size: 16px;
		    height: 100%;
		    @media (min-width: $screen-sm) {
		    	font-size: 18px;
		    }
		    .latest-projects-title-wrapper {
		    	height: calc(100% - 72px);
				.latest-projects-title {
					@include vertical-align();
					padding: 0 20px;
					h3 {
						margin-top: 0;
						font-size: 24px;
						color: #fff;
					}
				}
			}
			.latest-projects-more {
				display: block;
				position: absolute;
				width: 100%;
				bottom: 0;
			    text-align: right;
			    color: #fff;
			    background-color: $brand-red;
			    text-transform: uppercase;
		        font-size: 21px;
			    padding: 21px 10px;
			    transition: background-color 150ms ease;
			    &:hover, &:focus {
			    	text-decoration: none;
			    	background-color: darken($brand-red, 10%);
			    }
			}
		}
		&:hover {
			.latest-projects-layer {
				background-color: rgba(1, 142, 178, 0.4);
			}
			.latest-projects-info {
				bottom: 0px;
			}
			.latest-projects-logo {
				img {
					opacity: 0;
					top: -50%;
				}
			}
		}
		.latest-projects-layer {
			height: 100%;
			width: 100%;
		    position: absolute;
		    top: 0;
			background-color: rgba(1, 142, 178, 0.6);
			transition: background-color 300ms ease;
		}
	}
}

.about-icons, .resource-icons {
	margin: 30px 0 0;
	@media (min-width: $screen-sm) {
		margin: 60px 0 0;
	}
	li {
		display: block;
		padding: 15px;
		@media (min-width: $screen-sm) {
			width: 32%;
			display: inline-block;
		}
		@media (min-width: $screen-md) {
			width: 19%;
		}
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			margin-right: 0;
			padding-bottom: 0;
		}
		img {
			display: block;
			margin: 0 auto;
		}
		h3 {
			margin: 25px 0 0;
		}
	}
}

.resource-icons {
	li {
		@media (min-width: $screen-md) {
			width: 32%;
		}
	}
}

.more-projects {
	.home-more.h3 {
		margin: 0;
	}
}

.resource {
	margin-top: 50px;
	@media (min-width: $screen-sm) {
		margin-top: 90px;
	}
}

.post-archive {
	padding: 0;
	.post-archive-tile {
		@media (max-width: 767px) {
			@include aspect-ratio(3, 2);
		}
		@media (min-width: $screen-sm) {
			width: 33.33%;
			float: left;
			@include aspect-ratio(3, 3);
		}
		@media (min-width: $screen-md) {
			@include aspect-ratio(3, 2);
		}
		width: 100%;
		list-style: none;
		background-size: cover;
		background-position: center center;
		position: relative;
		overflow: hidden;
		.post-archive-title {
			position: absolute;
		    top: 0;
		    height: 100%;
		    width: 100%;
		    text-align: center;
	    	transition: all 300ms ease-in-out;
			h2 {
				@include vertical-align();
				margin: 0;
				padding: 20px;
				text-transform: none;
				color: #fff;
				letter-spacing: 0;
				font-weight: 400;
				font-size: 24px;
				border: none;
			}
		}
		.post-archive-info {
			position: absolute;
			bottom: -500px;
			height: 100%;
			width: 100%;
			transition: bottom 300ms ease-in-out;
			text-align: center;
			color: #fff;
		    width: 100%;
		    font-size: 18px;
		    height: 100%;
		    .post-archive-info-title-wrapper {
		    	height: calc(100% - 54px);
				.post-archive-info-title {
					@include vertical-align();
					padding: 10px 20px;
					h3 {
						margin-top: 0;
						font-size: 24px;
						border: 2px solid #fff;
						display: inline-block;
						padding: 10px 20px;
						color: #fff;
					}
					.excerpt {
						font-size: 16px;
						margin: 0;
						@media (min-width: $screen-sm) {
							font-size: 18px;
						}
					}
				}
			}
			.post-archive-more {
				display: block;
				position: absolute;
				width: 100%;
				bottom: 0;
			    text-align: right;
			    color: #fff;
			    background-color: $brand-red;
			    text-transform: uppercase;
		        font-size: 21px;
			    padding: 12px 20px;
			    transition: background-color 150ms ease;
			    &:hover, &:focus {
			    	text-decoration: none;
			    	background-color: darken($brand-red, 10%);
			    }
			}
		}
		&:hover, &.active {
			.post-archive-layer {
				background-color: rgba(1, 142, 178, 0.4);
			}
			.post-archive-info {
				bottom: 0px;
			}
			.post-archive-title {
				opacity: 0;
				top: -100%;
			}
		}
		.post-archive-layer {
			height: 100%;
			width: 100%;
		    position: absolute;
		    top: 0;
			background-color: rgba(1, 142, 178, 0.6);
			transition: background-color 300ms ease;
		}
	}
}

.post-navigation {
	clear: both;
}

.sub-menu-spacing {
	.sub-menu {
		background: $brand-orange;
		text-align: right;
		.button {
			background: none;
		    border: none;
		    color: #fff;
		    text-transform: uppercase;
		    font-size: 18px;
		    padding: 15px 20px;
		    margin: 0;
		    transition: background 200ms;
		    &.is-checked {
		    	background: darken($brand-orange, 10%);
		    }
		    &:hover, &:focus {
		    	outline: none;
		    }
		    &:hover {
		    	background: $brand-red;
		    }
		}
	}
	&.sticky {
		height: 55px;
		.sub-menu {
			position: fixed;
		    top: 86px;
		    z-index: 10;
		    width: 100%;
		}
	}
}

.contact-section {
	.home-more {
		margin-top: 10px;
	}
}

.page-template-template-fullwidth {
	.page-content {
		margin-top: 60px;
		margin-bottom: 60px;
	}
}

.related-posts {
	padding-bottom: 0;
	.related-posts-menu {
		background: $brand-orange;
		text-align: right;
		a {
			color: #fff;
			font-size: 18px;
			text-transform: uppercase;
		    padding: 15px 20px;
		    display: block;
		    margin: 0 -15px;
		    transition: background-color 200ms ease;
		    @media (min-width: $screen-sm) {
			    display: inline-block;
			    margin: 0;
			}
		    &:hover {
		    	background-color: $brand-red;
		    }
		}
	}
}

.contact {
	h2 {
		color: $brand-primary;
		letter-spacing: 0;
		text-transform: none;
		margin-bottom: 40px;
	}
	.highlight {
		font-size: 24px;
	}
}

.gform_wrapper {
	.gfield_required {
		display: none;
	}
	input[type="text"], textarea.medium {
		border: 1px solid lighten($gray-light, 15%);
	    font-size: 16px;
	    padding: 12px;
	    color: $gray;
	    width: 100%;
	    &::-webkit-input-placeholder {
	    	color: $gray;
	    	font-weight: 600;
	    }
	    &:focus {
    	    outline-color: $brand-orange;
	    }
	}
	.top_label .gfield_label {
		color: $gray;
		font-size: 24px;
		font-weight: 400;
	}
	.top_label input.medium {
		width: 100%;
	}
	ul.gfield_radio {
		padding-left: 25px;
	    font-size: 18px;
	    color: $gray;
	    li label {
	    	font-weight: 400;
	    }
	}
	.gform_button {
		background-color: $brand-orange;
	    border: none;
	    width: 100%;
	    padding: 10px 20px;
	    text-align: left;
	    text-transform: uppercase;
	    color: #fff;
	    font-size: 24px;
	    letter-spacing: 2px;
	    transition: background-color 300ms;
	    &:hover {
	    	background-color: $brand-primary
	    }
	}
	#field_1_1 label {
		display: none;
	}
}

.social-links {
	a {
		color: lighten($gray-light, 20%);
		padding-right: 15px;
	}
	h2 {
	    margin: 50px 0 25px;
	}
}

// Footer Styling

.content-info {
	background-color: $brand-primary;
	color: #fff;
	padding: 25px 0;
	.footer-text {
		margin: 0;
		@media (min-width: $screen-sm) {
			float: right;
		}
		.footer-tagline {
			text-align: center;
			font-size: 21px;
			display: block;
			@media (min-width: $screen-sm) {
				text-align: right;
			}
		}
		.footer-copyrights {
			display: block;
			text-align: center;
		    font-size: 14px;
		    color: rgba(255, 255, 255, 0.5);
		    margin: 0;
		    @media (min-width: $screen-sm) {
				text-align: right;
			}
		}
	}
	.footer-logo {
		@media (min-width: $screen-sm) {
			float: left;
			margin: 0;
		}
		display: block;
	    margin: 0 auto 20px;
		background: url(../images/logo.png) no-repeat;
		width: 140px;
	    height: 50px;
	    background-size: contain;
	}
}

// Gravity Forms
.gform_wrapper ul {
  @extend .list-unstyled;
}
.gform_wrapper li {
  @extend .form-group;
}
.gform_wrapper form {
  margin-bottom: 0;
}
.gform_wrapper .gfield_required {
  padding-left: 1px;
  color: $state-danger-text;
}
.ginput_container input,
.ginput_container select,
.ginput_container textarea {
	@extend .form-control;
}
.ginput_container textarea {
  height: auto;
}
.gform_button {
	@extend .btn;
	@extend .btn-primary;
}
.gform_wrapper .gfield_error {
  .gfield_label {
    color: $state-danger-text;
  }
  input,
  select,
  textarea {
    border-color: $alert-danger-border;
    background-color: $alert-danger-bg;
    color: $alert-danger-text;
    @include form-control-focus($alert-danger-text);
  }
}
.validation_error {
	@extend .alert;
	@extend .alert-danger;
}
#gforms_confirmation_message {
	@extend .alert;
	@extend .alert-success;
}

input[type=checkbox], 
input[type=radio] {
  height: auto;
  box-shadow: none;
  width: auto;
  float: left;
  margin-right: 15px;
}

.author-article {
	margin-bottom: 30px;
	&:last-of-type {
		margin-bottom: 0;
	}
}