// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary: #018eb2;
$brand-red: #e55225;
$brand-orange: #f18c21;

// Fonts
$font-family-sans-serif: 'Raleway', Helvetica, Arial, sans-serif;
$font-size-base: 17px;

// Navbar
$navbar-height: 86px;

$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-hover-bg: rgba(0, 0, 0, 0.2);
$navbar-default-link-active-color: #fff;
$navbar-default-link-active-bg: rgba(0, 0, 0, 0.2);

$nav-link-padding: 10px 20px;

// Buttons
$btn-font-weight: 600;
$btn-border-radius-base: 0;